.form-container {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: var(--space-lg) var(--space-md);
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container h2 {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
}

.form-container label {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.submit-button {
  width: 74px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.form-container input {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 12px;
  padding: var(--space-md) var(--space-lg);
  margin-top: var(--space-md);
  background-color: var(--color-input);
}

.form-container input::placeholder {
  font-size: 16px;
  color: var(--color-text-grey400);
}

.form-container textarea {
  width: 100%;
  height: 282px;
  border: none;
  border-radius: 12px;
  padding: var(--space-md) var(--space-lg);
  margin-top: var(--space-md);
  background-color: var(--color-input);
  resize: none;
}

.form-container textarea::placeholder {
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-text-grey400);
}

/* tablet size */
@media screen and (min-width: 768px) {
}

/* desktop size */
@media screen and (min-width: 1200px) {
  .form-container {
    width: 1200px;
    margin: 0 auto;
  }
}
