.btn {
  cursor: pointer;
  border: none;
  white-space: nowrap;
  background-color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-primary-dark);
}

.btn:active {
  background-color: var(--color-primary-darker);
}

.btn .disabled {
  background-color: var(--color-disabled);
}

h3 {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: var(--xl);
  color: var(--clolor-background-dark);
}

.pagination-btn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-text-light);
  border-radius: 9999px;
  background-color: white;
  color: var(--color-text-grey500);
  font-size: 16px;
  font-weight: 600;
}
