.btn {
  cursor: pointer;
  border: none;
  white-space: nowrap;
  text-decoration: none;
  background: none;
  text-align: center;
}

.primary-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.primary-btn:not(:disabled):hover {
  background-color: var(--color-primary-dark);
}

.primary-btn:active {
  background-color: var(--color-primary-darker);
}

.disabled {
  cursor: default;
  background-color: var(--color-disabled);
}

h3 {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: var(--xl);
  color: var(--clolor-background-dark);
}

.pagination-btn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-text-light);
  border-radius: 9999px;
  background-color: white;
  color: var(--color-text-grey500);
  font-size: 16px;
  font-weight: 600;
}
