.container {
  margin: var(--space-md);
}

.container > h3 {
  margin: var(--space-md) 0;
}

.card-container {
  display: flex;
}

/* tablet size */
@media screen and (min-width: 768px) {
  .container {
    margin: var(--space-lg);
  }

  .card-container {
    gap: 10px;
  }
}

/* desktop size */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .card-container {
    gap: 24px;
  }
}
