.card-container {
  display: flex;
}

/* tablet size */
@media screen and (min-width: 768px) {
  .card-container {
    gap: 10px;
  }
}

/* desktop size */
@media screen and (min-width: 1200px) {
  .card-container {
    gap: 24px;
  }
}
