.container--nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 9px 16px;
  margin: 0 auto;
  border-bottom: 1px solid #dfdfdf;
  gap: 10px;
}

.nav__logo {
  display: none;
}

/* tablet size */
@media screen and (min-width: 768px) {
  .container--nav {
    padding: 9px 24px;
  }

  .nav__logo {
    display: inline;
  }
}

/* desktop size */
@media screen and (min-width: 1200px) {
  .container--nav {
    max-width: 1520px;
    padding: 9px 200px;
  }
}
